header {
  background-color: teal;
  color: white;
  padding: 30px;
  text-align: center;
  
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
}

footer {
  background-color: #333;
  font-size: 1.05em;
  font-weight: 400;
  margin: 6em 0 0 0;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  /*position: fixed;*/
  width:100%;
  bottom: 0;
}

footer a {
  color: #fffefe;
  text-decoration: none;
}