.bejelentkezes_input input {
    width: 95%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .bejelentkezes_login button {
    margin-top: 1rem;
    width: 100%;
  }
  
  .form-container {
    max-width: 400px;
    padding-top: 5px;
  }

.form-control{
  max-width: 400px;
}

.modal-content{
  border: solid 1px white;
  border-radius: 5px;
  max-width: 400px;

}

.form-bejelentkezes{
  background-color: #008080;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;
  padding: 15px;
  color: white;

}
.colse{
  border-radius: 2px;
}