.header-container{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
    /* flex-direction: column;  */
}

.right-column li {
    margin-bottom: 10px;
}