/* Navigacio.css */

.nav {
  position: relative;
  z-index: 2;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items li:last-child {
  margin-right: 0;
}

.menu-items li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.menu-items li a:hover {
  color: #000000;
}

.menu-items.open {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }

  .menu-items.open {
    display: flex;
    flex-direction: column; /* Hozzáadva: függőleges elrendezés */
  }

  .menu-items li {
    margin: 0;
    text-align: center;
  }

  .menu-items li a {
    display: block;
    padding: 10px 0;
  }

  /* CSS a NavLegordulo komponenshez */
  .menu-items .nav-legordulo {
    display: block;
    padding: 10px 0;
  }
}
