nav {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
  text-align: center;
  list-style-type: none;
}

.nav li{
  display: inline;
}

.navlink a{
  display: inline-block;
  width: 100%;
  margin: 0 20px;
  color: white;
  text-decoration: none;
  text-align: center; 
}


.navlink:hover {
  text-shadow: -3px -1px 16px rgba(0, 0, 0, 0.95);
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-between;
  
}
.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

 .Dropdown {
  position: relative;
  width: 100%;
  z-index: 3;
  margin: 40px 20px 0 20px;
  word-spacing: 5px;
 }

.Dropdown:hover, .Dropdown-option:hover {
  text-shadow: -3px -1px 16px rgba(0, 0, 0, 0.95);
  cursor: pointer;
}


.Dropdown-menu {
  position: absolute;
  top: 100%; 
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: teal;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.Dropdown-option {
  color: white;
  margin: 8px 10px ;
}

.Dropdown-option--is-selected {
  color: white;
  background-color: teal;
}