.allprofil{
    max-width: 70%;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;

}
.lehetoseg{
    border: solid 1px gray;
    border-radius: 5px;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    max-width: 150px;
    text-align: center;
    
    background-color: teal;
    color: aliceblue;
}


input{
    max-width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 13px;
    width: 95%;
}

.allprofil label{
    margin-left: 17px;
}

.mentes{
    display: block;
    max-width: 100px;
    margin: auto;
}

.react-select{
    width: 95%;
    margin: auto;
}