.allprofil {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  max-height: 550px; /* Változtasd meg a magasságot igényed szerint */
  overflow-y: auto; /* Csak függőleges görgetést engedélyez */
}
.menu-list {
  border: solid 1px gray;
  border-radius: 5px;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  max-width: 150px;
  text-align: center;

  background-color: teal;
  color: aliceblue;
  flex: 1;
}
.divbuttons {
  display: flex;
  gap: 2px;
}

.hidden {
  display: none;
}

input {
  max-width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 13px;
  width: 95%;
}

.allprofil label {
  margin-left: 17px;
}

.mentes {
  display: block;
  max-width: 120px;
  margin: auto;
  background-color: teal;
  color: aliceblue;
  border-radius: 5px;
  font-size: 16px;
}

.mentes:hover{
  background-color: #00b39b;
}


.torles {
  display: block;
  width: 120px;
  margin: auto;
  background-color: teal;
  color: aliceblue;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
} 

.torles:hover{
  background-color: #00b39b;
}

.react-select {
  width: 95%;
  margin: auto;
}

.photo {
  width: 110px;
  height: 140px;
  margin-left: 40px;
  border-radius: 5px;
  border: solid 1px teal;
  box-shadow: 5px 5px 5px rgba(6, 143, 167, 0.5);
}
.menu {
  display: flex;
  padding: 10px;
  max-width: 70%;
  margin: 0 auto;
}

.temakor {
  border: 1px solid #055046;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}
.temakor-buttons{
  margin: 20px;
}

.lista{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.react-select__menu {
  max-height: 200px; /* Állítsd be a megfelelő maximális magasságot */
  overflow-y: auto; /* Engedélyezd a függőleges görgetést */
}



