/* Munkáltatók táblázat stílusai */
.munkaltatok-container {
  margin-top: 20px;
  margin-bottom: 50px; /* Hozzáadott margin a footer és a form között */
}

.munkaltatok-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.munkaltatok-table th,
.munkaltatok-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.munkaltatok-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.munkaltatok-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.munkaltatok-table tbody tr:hover {
  background-color: #ddd;
}

.munkaltatok-table td button {
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Munkáltatók űrlap stílusai */
.munkaltatok-form {
  margin-top: 20px;
}

.munkaltatok-form input {
  margin-bottom: 10px;
  padding: 8px;
}

.munkaltatok-form button {
  padding: 8px 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}



/* Általános akció gombok stílusai */
.action-button {
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  color: white;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgb(128, 163, 163);
}

/* Gomb konténer stílusai */
.button-container {
  text-align: center; /* A gombok középre igazítása */
  margin-bottom: 20px; /* Hozzáadott margin a gombok és a táblázat között */
}

/* Módosítás gomb stílusa */
.modositas-button {
  background-color: teal; /* Kék */
}

/* Törlés gomb stílusa */
.torles-button {
  background-color: #710000; /* Piros */
}

/* Új felvitele gomb stílusa */
.uj-felvitele-button {
  background-color: #4CAF50; /* Zöld */
}
