.job-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .job-title h2 {
    margin: 0;
  }
  
  .job-description p {
    margin: 0;
  }
  
  .apply-button button {
    background-color: teal;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-button button:hover {
    background-color: #00b39b;
  }
  